<div class="app-actionbar app-actionbar-default" name="top">
    <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-9">
                    <div class="app-actionbar-content">
                        <a class="app-link-phone-enabled" href="tel:+49821514224">
                            <i class="fa fa-phone-square"></i> 0821-51 42 24</a> 
                            <i class="fa fa-clock-o"></i> Öffnungszeiten: Montag bis Freitag 9.00 bis 18.00 Uhr und nach Vereinbarung
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="app-actionbar-sm">
                        <a href="#"><i class="fa fa-facebook"></i></a>               
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>

    </div>
</div>