<section class="hidden-xs app-banner carousel carousel-fade slide home-slider"
    id="app-banner" >
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#app-banner"></li>
        <li class="" data-slide-to="1" data-target="#app-banner"></li>
        <li class="" data-slide-to="2" data-target="#app-banner"></li>
        <li class="" data-slide-to="3" data-target="#app-banner"></li>
        <li class="" data-slide-to="4" data-target="#app-banner"></li>
        <li class="" data-slide-to="5" data-target="#app-banner"></li>
    </ol>
    <div class="carousel-inner">
        <!-- banner01 -->
        <div class="app-banner-item-01 item active">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fadein scaleInv anim_1">
                        <div class="fadein scaleInv anim_1">
                            <h1 class="carouselText1 animated fadeInUpBig">
                            <span class="colortext">Unternehmen</span></h1>
                        </div>
                        <div class="fadein scaleInv anim_2">
                            <p class="carouselText2 animated fadeInLeft">
                                <i class="fa fa-check-square-o"></i> Consulting
                            </p>
                        </div>
                        <div class="fadein scaleInv anim_3">
                            <p class="carouselText2 animated fadeInLeft">
                                <i class="fa fa-check-square-o"></i> Engineering
                            </p>
                        </div>
                        <div class="fadein scaleInv anim_3">
                            <p class="carouselText2 animated fadeInLeft">
                                <i class="fa fa-check-square-o"></i> Support
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner02 -->
        <div class="app-banner-item-02 item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fadein scaleInv anim_1">
                        <div class="fadein scaleInv anim_2">
                            <h1 class="carouselText1 animated fadeInUpBig">
                            <span class="colortext">Lösungen</span></h1>
                        </div>
                        <div class="fadein scaleInv anim_1">
                            <p class="carouselText2 animated fadeInLeft">
                                Virtualisierung, Hochverfügbarkeit, Dynamische Rechenzentren, Clustering, Konfigurations-Management und Cloud Computing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner03 -->
        <div class="app-banner-item-03 item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fadein scaleInv anim_1">
                        <div class="fadein scaleInv anim_2">
                            <h1 class="carouselText1 animated fadeInUpBig">
                            <span class="colortext">Produkte</span></h1>
                        </div>
                        <div class="fadein scaleInv anim_1">
                            <p class="carouselText2 animated fadeInLeft">
                                Um die Ziele unserer Kunden bestmöglich zu erreichen bietet die ATIX AG eine umfassende Beratung zu einer breiten Palette von Open Source Produkten.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner04 -->
        <div class="app-banner-item-04 item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fadein scaleInv anim_1">
                        <div class="fadein scaleInv anim_2">
                            <h1 class="carouselText1 animated fadeInUpBig">
                            <span class="colortext">Training</span></h1>
                        </div>
                        <div class="fadein scaleInv anim_1">
                            <p class="carouselText2 animated fadeInLeft">
                                Workshops, Schulung für Spezialisten, Weiterbildung, Zertifizierung, Systemadmin, Serveradmin, Spezialisten, Endnutzer 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner05 -->
        <div class="app-banner-item-05 item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fadein scaleInv anim_1">
                        <div class="fadein scaleInv anim_2">
                            <h1 class="carouselText1 animated fadeInUpBig">
                            <span class="colortext">Aktuelles</span></h1>
                        </div>
                        <div class="fadein scaleInv anim_1">
                            <p class="carouselText2 animated fadeInLeft">
                                <i class="fa fa-check-square-o"></i> News
                            </p>
                        </div>
                        <div class="fadein scaleInv anim_2">
                            <p class="carouselText2">
                                <i class="fa fa-check-square-o"></i> Events
                            </p>
                        </div>
                        <div class="fadein scaleInv anim_3">
                            <p class="carouselText2">
                                <i class="fa fa-check-square-o"></i> Blog
                            </p>
                        </div>
                        <div class="fadein scaleInv anim_3">
                            <p class="carouselText2">
                                <i class="fa fa-check-square-o"></i> Videos
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner06 -->
        <div class="app-banner-item-06 item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fadein scaleInv anim_1">
                        <div class="fadein scaleInv anim_2">
                            <h1 class="carouselText1 animated fadeInUpBig">
                            <span class="colortext">Consulting</span></h1>
                        </div>
                        <div class="fadein scaleInv anim_1">
                            <p class="carouselText2 animated fadeInLeft">
                                <i class="fa fa-check-square-o"></i> Individuelle Beratung
                            </p>
                        </div>
                        <div class="fadein scaleInv anim_2">
                            <p class="carouselText2">
                                <i class="fa fa-check-square-o"></i> Professionalität
                            </p>
                        </div>
                        <div class="fadein scaleInv anim_3">
                            <p class="carouselText2">
                                <i class="fa fa-check-square-o"></i> Ihr Erfolg
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.carousel-inner -->
    <a data-slide="prev" href="#app-banner" class="left carousel-control animated fadeInLeft"><i class="fa fa-chevron-left"></i></a>
    <a data-slide="next" href="#app-banner" class="right carousel-control animated fadeInRight"><i class="fa fa-chevron-right"></i></a>
</section>
